{% extends 'shops/lay/mainnn.html' %}
{% block title %}
  Plexi Click-The Acrylic Expert
{% endblock title %}
{% block content %}
<div style="max-width: 1250px; margin: 0 auto; padding: 30px;">
  <h2 style="text-align: center; color: red; font-size: 32px;">Who we are? 
    <img src="../static/img/hero/2-3.jpg" alt="Image" style="max-width: 170px; margin-left: 10px;">
  </h2>

  <div style="display: flex; align-items: center;">
      <p style="flex: 1; font-size: 20px;">
          <i><strong>Being in the industry since 2012, “Plexi Click”</strong> by making use of the most prominent and advanced machinery and unmatched expertise in designing, engraving, cutting, and crafting promise to provide the best in the pioneering sector of acrylic with a varied range of products useful in multiple areas.
          <br>We as a team ensure the quality in designs and subject our production to satisfy the needs of the customers.</i>
      </p>
  </div><br>

  
  <div class="products-container" style="display: flex; flex-direction: column; align-items: center;">
    <h2 style="text-align: center; color: red; font-size: 32px; margin-bottom: 20px;">Some of our Products</h2>
    <div class="product" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <img src="../static/img/banner/1 copy.jpg" alt="Product 1" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/2.jpg" alt="Product 2" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/3.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/28.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/t3.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/23.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/t5.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/3.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/2.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      <img src="../static/img/banner/t5.jpg" alt="Product 3" style="max-width: 100px; margin-right: 10px;">
      
    </div>
</div>

    <div class="product" style="display: flex; flex-direction: row; align-items: center;">
      
    </div>
    
  </div>
</div>


    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery.nicescroll.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/mixitup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
    
{% endblock content %}
