{% load static %}
<header class="header">
    <div class="canvas__open"><i class="fa fa-bars"></i></div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i> {{request.user}}</a>
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>
        <div class="offcanvas_nav_option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="{% static 'img/artboard.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-1">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class=""><a href="{% url 'home'%}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="{% url 'cont' %}">Contact Us</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'my_orders' %}">Order Summary</a></li>
                        <li>
                            <a><img src="{% static 'img/icon/regicon.png' %}"></a>
                            <ul class="dropdown">
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement(
                                {pageLanguage: 'en'},
                                'google_translate_element'
                            );
                        }
                    </script>
                    <script type="text/javascript"
                            src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                    </script>
                </nav>
            </div>
            <div class="col-lg-16 col-md-2">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                    <a href="{% url 'fav' %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                    <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""></a>
                    <!-- <div class="price">$0.00</div> -->
                </div>
            </div>
        </div>
    </div>
</header>
